<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
    <meta name="description" content="A booking system, you can reserve and post resource in this website.">   
    <title>Booking All</title>
    
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/semantic.min.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='css/semantic.min.js')}}" charset="utf-8"></script>-->
</head>

<body>
    <div id="searchArea" style="position: absolute; top: 10%; width: 90%; height: 80%; margin-left: 5%" >

    </div>
    
    <div>
    </div>

</body>
</html>