<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A booking system, you can reserve and post resource in this website."> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user_scalable=no">
    <meta name="author" content="Jiaqi Guan">
    {% block meta %}<!-- block meta -->{% endblock %}

    <title>{% block title %}<!-- block title -->{% endblock %} - Awesome Reservation System</title>

    <!--Bootstrap core CSS-->
    <link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
    

    <!--User customed CSS-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">

    <!--Bootstrap script-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    {% block head%}<!-- block head -->{% endblock %}
</head>

<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/">Home</a></li>
                <li role="presentation"><a href="/create">Create a Resouce</a></li>
                <li role="presentation"><a href="{{log_url}}">{{log_status}}</a></li>
                <li role="presentation"><a href="#">Info</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Open Booking System</h3>
    </div>
</div>


<div class="container">
    <!--<div class="row head">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="input the resouce tag: Table, Place">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>-->

    {% block body %}<!-- block meta -->{% endblock%}

    <footer class="footer">
        <p>&copy; Copyright - Jiaqi Guan - 2017</p>
    </footer>
</div>

</body>
</html>